<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circular!</title>
    <link rel = "stylesheet" href = "../public/styles.css">
</head>
<body>
    <div id = "top">
        <h2 id = "headline">CIRCULAR!</h2>
    </div>

    <div>
        <h6 id = "thoughts">Opinions</h6>
        <form action="" method="post">
            <label>Type Here!</label>
            <input type = "text"/> <button type = "submit">Share</button>
            <div> </div>
        </form>

        <div class = "cross">
            <video width = "565" height = "565" controls = "false" autoplay loop muted>
                <source src="../public/media/My Movie 2.mp4" type="video/mp4">
            </video>
        

        
            <img id = "cross" src="../public/media/ancient_cross.png" alt="A processional cross from ca.1500">
        
            

            <video width = "465" height = "465" controls = "false" autoplay loop muted>
                <source src="../public/media/Video.mp4" type="video/mp4">
            </video>

        </div>
    </div>
</body>
</html>