<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Welcome!</title>

    <link rel = "stylesheet" href = "../public/welcome.css">

</head>
<body id = "foundation">

    <p>
        Welcome to Circular! an application presented by (In a Vaccum!) 
    </p>

    <div>

        <a href = "http://localhost:5500/home">
            <button id = "click"> Rorschach @ Circular!</button>
        </a>
    </div>
    
    <div>
    
        <img id = "music" src = "../public/media/music.gif" alt = "An image of written music"> <img id = "head" src = "../public/media/brain-slow-speed.gif" alt = "An image of a brain">

    </div>



</body>
</html>